/*********base styles*********/
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 22px;
}

/*********Header*********/
h1 {
  text-align: center;
  padding: 10px;
  /*font-size: 175%;*/
}

/*********Largest Container*********/
.container {
  height: 150px;
  background-color: grey;
  border: 1px solid black;
  margin: 10px;
  overflow: hidden;
}

/*********Corner Title*********/
/*going to change it to individual ids*/
#chicken{
  width: 100px;
  height: 28px;
  background-color: pink;
  text-align: center;
  margin: 0px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  padding: 5px;
  float: right;
  font-weight:bold;
  font-size: 125%;
}

#beef{
  width: 100px;
  height: 28px;
  background-color: red;
  color: white;
  text-align: center;
  margin: 0px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  padding: 5px;
  float: right;
  font-weight:bold;
  font-size: 125%;
}

#sushi{
  width: 100px;
  height: 28px;
  background-color: yellow;
  text-align: center;
  margin: 0px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  padding: 5px;
  float: right;
  font-weight:bold;
  font-size: 125%;
}
/*********text*********/
.text{
  text-align: left;
  /*padding: 10px;*/
  /*padding-top: 2px;*/
}

/********* Desktop View *********/
@media (min-width: 992px){
  .col-lg-4{
    float: left;
}
  .col-lg-4 {
    width: 30%;
  }
}

/********* Tablet View *********/
@media (min-width: 768px) and (max-width: 991px){
.col-md-6, .col-md-12{
  float: left;
}
.col-md-6{
  width: 47%;
  }
.col-md-12{
  width: 97%;
  }
}

/********* Mobile View *********/
@media (max-width: 767px){
  .col-xs-12{
    float: left;
  }
  .col-xs-12{
    width: 100%;
  }
}
